<h1>About Page</h1>
<div>{{vm.message}}</div>

<form>
    <select ng-model="vm.newCar.company_id" ng-options="company.id as company.name for company in vm.companies.list track by company.id"></select>
    <br>    
    Car Nickname: <br>
    <input type="text" placeholder="Honda..." ng-model="vm.newCar.nickname">
    <br>
    Car Make: <br>
    <input type="text" placeholder="Honda..." ng-model="vm.newCar.make">
    <br>
    Car Year: <br>
    <input type="number" placeholder="Bratislava..." ng-model="vm.newCar.year">
    <br><br>
    <button ng-click="vm.addNewCar(vm.newCar)">Submit</button>
    {{vm.newCar}}
</form>





<table class="table">
    <thead>
    <tr>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Nickname</th>
        <th>Country of Origin</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
</thead>
<tbody>
        <tr ng-repeat="car in vm.cars.list">
            <td ng-hide="car.showedit">{{car.year}}</td>
            <td ng-hide="car.showedit">{{car.name}}</td>
            <td ng-hide="car.showedit">{{car.model}}</td>
            <td ng-hide="car.showedit">{{car.nickname}}</td>
            <td ng-hide="car.showedit">{{car.country}}</td>
            <td ng-hide="car.showedit"><button ng-click="vm.deleteCar(car)">Delete</button></td>
            <td ng-hide="car.showedit"><button ng-click="car.showedit = !car.showedit">Edit</td>

            <td ng-show="car.showedit"><input type="text" ng-value={{car.year}}></td>
            <td ng-show="car.showedit"><select ng-model="vm.newCar.company_id" ng-options="company.id as company.name for company in vm.companies.list track by company.id"></select></td>
            <td ng-show="car.showedit"><input type="text" ng-value={{car.model}}></td>
            <td ng-show="car.showedit"><input type="text" ng-value={{car.nickname}}></td>
            <td ng-show="car.showedit"><input type="text" ng-value={{car.country}}></td>
            <td ng-show="car.showedit"><button ng-click="vm.deleteCar(car)">Delete</button></td>
            <td ng-show="car.showedit"><button ng-click="vm.editCar(car)">Edit</td>
        </span>
        </tr>
</tbody>
    <tr></tr>
</table>
